<div id="code" style="display:none;">{{ status }}</div>
{% if status=="ok" %}
    <div  class="alert alert-success alert-block">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"> Grup Eklendi </h4>
        Grup Eklendi.
    </div>
{% else %}
    <div  class="alert alert-danger alert-block">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <h4 class="alert-heading"> Grup eklenemedi </h4>
        Grup eklenemedi..
    </div>
{% endif %}

