<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Rehber</a>
    <ul>
        <li class="active"><a href="/index"><i class="icon icon-home"></i> <span>Anasayfa</span></a> </li>
        <li> <a href="/person/new"><i class="icon icon-signal"></i> <span>Yeni Kişi</span></a> </li>
        <li> <a href="/person"><i class="icon icon-inbox"></i> <span>Kişiler</span></a> </li>

        <li> <a href="/group/new"><i class="icon icon-inbox"></i> <span>Grup Ekle</span></a> </li>
        <li> <a href="/group/"><i class="icon icon-inbox"></i> <span>Gruplar</span></a> </li>
    </ul>
</div>